<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset ('assets/css/bootstrap.css')}}">
        {% endblock %}
    </head>
    <body>
	
		</br>
		<div class="container">
			<div>
			<a href="{{url('query')}}"><button type="button" class="btn btn-secondary btn-dark btn-block"> Alien </button> </a>
			</br>
			<a href="{{url('premier' , { 'movies' : 'Lord'}) }}"><button type="button" class="btn btn-secondary btn-dark btn-block"> Lord </button> </a>
		</br>
		</br>
			</div>
	</div>

        {% block body %}{% endblock %}
		

		
        {% block javascripts %}
		
          <script src=""{{ asset ('assets/js/bootstrap.js') }}
		  
        {% endblock %}
    </body>
</html>
